
<div class="container container-fluid">
  <div class="row">
      
        <div class="col-sm-12">
          <div class="addDashboard">
              
              <input [disabled]="data?.length > 2" [(ngModel)]='addString' [ngClass]="{'disabled-div':!authService.getIsAccountVerified()}" name="addString" #searchString type="text" (keydown.enter)="addToSearchArray(searchString.value);searchString.value=''" placeholder="Enter search content">
              <button class="btn-search" [disabled]="(data?.length > 2) || (!addString) " (keydown.enter)="addToSearchArray(searchString.value);searchString.value=''" (click)="addToSearchArray(searchString.value);searchString.value=''">Save</button>
     
          </div>
       
        <form class="dashboardForm" #f="ngForm" (ngSubmit)="process(f)">
            <div class="alert alert-danger" *ngIf="data?.length > 2">You can only schedule max 3 searches</div> 
        <div class="table-responsive" [ngClass]="{'disabled-div':!authService.getIsAccountVerified()}">

              <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   <th>Search content</th>
                   <th>Email</th>   
                   <th>Delete</th>
                   </thead>
    
                   <tbody *ngFor="let item of data; let rowNo=index">
                    <tr>
                      <td>
                      <div  (click)="openDialog(rowNo)"> 
                          <ul class="list-group list-group-flush">
                        <li>
                          
                            
                         <input type="button" class="btn-transparent" #value [(ngModel)]="item" name="item{{rowNo}}"> 
                        
                        
                        </li>
                         
                        </ul>
                      </div>
                    </td>
                      <td>
                          
                          <input type="checkbox" value="">
                      
                      </td>                    
                      <td>
                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                        <button type="button" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" (click)="deleteItem(rowNo)"><span class="glyphicon glyphicon-trash"></span></button></p>
                      </td>
                    </tr>
    
                  </tbody>
              </table>
              <button class="btn btn-success" type="submit">Save</button>              
        </div>
        <!-- <button *ngIf="data?.length > 0" class="btn btn-success pull-left" type="submit">Save</button> -->

      </form>
      </div>
    
      
    </div>
</div>

